/* Calculator Frame */
.root{
    -fx-background-color: #5A5A75;
    -fx-font-family: Arial;
}

.display-label{
    -fx-background-color: #5A5A75;
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-padding: 0 20 10 0;
}

.button-grid{
    -fx-background-color: #2E2E2E;
    -fx-padding: 10;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.calc-button{
    -fx-background-color: #3D3D4F;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-min-height: 60;
    -fx-min-width: 60;
    -fx-cursor: hand;
}

.calc-button:hover {
    -fx-background-color: #4D4D6F;
}

.calc-button:pressed {
    -fx-background-color: #6D6D8F;
}

.history-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-cursor: hand;
}

/* History Frame */
.dialog-pane{
    -fx-background-color: #2E2E2E;
}
.dialog-pane .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.dialog-pane .header-panel {
    -fx-background-color: #3D3D4F;
}

.dialog-pane .button {
    -fx-background-color: #5A5A75;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}

.dialog-pane .button:hover {
    -fx-background-color: #6D6D8F;
}

.text-field {
    -fx-background-color: #3D3D4F;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-font-size: 14;
    -fx-background-radius: 5;
}

.text-field:focused {
    -fx-background-color: #4D4D6F;
    -fx-border-color: #6D6D8F;
    -fx-border-radius: 5;
}

.error-label{
    -fx-text-fill: #ff6b6b;
    -fx-font-size: 12;
}

.date-picker{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-background-radius: 5;
    -fx-padding: 0;
    -fx-max-width: Infinity;
    -fx-min-height: 27;
}

.date-picker .text-field{
    -fx-background-color: #3D3D4F;
    -fx-background-radius: 5 0 0 5;
    -fx-text-fill: white;
    -fx-padding: 4 7 4 7;
}

.date-picker .arrow-button {
    -fx-background-color: #3D3D4F;
    -fx-background-radius: 0 5 5 0;
    -fx-border-color: #6D6D8F;
    -fx-border-radius: 5;
    -fx-padding: 0 10 0 10;
}

.login-register-dialog {
    -fx-background-color: transparent;
    -fx-text-fill: White;
    -fx-cursor: hand;
    -fx-max-width: Infinity;

}